Setup/Setup32/bin
Setup/Setup32/obj
Setup/Setup64/bin
Setup/Setup64/obj
Target
*.suo
EvWriter/bin
EvWriter/obj
evLogReader/bin
evLogReader/obj
Setup/SetupFiles/Java
Setup/SetupFiles/evLogReader
*.cache
*.user