<!--%= erb :internalheader, :locals => locals %>
<div class="span2" id=sidebar-->
  <!--%= erb :loginmenu, :locals => locals %>
</div-->

<div class="content span10" id=main>
  <% if locals[:result].size > 0 %>
  <table class="table logs table-condensed">
    <tr>
      <th></th>
      <th>Index Name</th>
      <th>State</th>
      <th>Updated At</th>
    </tr>
    <tbody>
    <% for index in 0 ... locals[:result].size %>
        <tr>
          <td><a href="javascript:restoreIndex('<%= locals[:result][index]["id"] %>');" >restore</a></td>

          <td><%= locals[:result][index]["name"] %></td>
          <td><%= locals[:result][index]["state"] %></td>
          <td><%= locals[:result][index]["stateTs"] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <script>
      function restoreIndex(name)
      {
          var data = { "action" : "restore", "indexName" : name};
          $.ajax({
              url: '/indexController',
              type: 'post',
              cache: false,
              data: data,
              success: function (json) {
                  result = JSON.parse(json);
                  if (result.success) {
                      // refresh page
                      //alert (json);
                      window.location.href = window.location.href;
                  }
              }
          });
      }
  </script>
  <% else %>
  <div>
    Found No Archived Indices
  </div>
  <% end %>
<!--%= erb :footer, :locals => locals %-->