<%= erb :main, :locals => locals %>

    <link rel="stylesheet" href="common/css/main.css">
    <link rel="stylesheet" href="common/css/elasticjs.css">
    <link rel="stylesheet" href="common/css/timepicker.css">



      <div>

        <div ng-controller="DashCtrl" ng-cloak>
        <div ng-repeat='alert in global_alert' class="alert alert-{{alert.severity}} span12" style="position: fixed;top:2px;opacity:0.9;z-index:8000">
          <button type="button" class="close" ng-click="clear_alert(alert)">&times;</button>
          <strong>{{alert.title}}</strong> <span ng-bind-html-unsafe='alert.text'></span> <div class='pull-right small'> {{$index + 1}} alert(s) </div>
        </div>
        <div class="container-fluid main">
          <div class="row-fluid">
            <div ng-view></div>
          </div>
        </div>
        </div>
      </div>
        <div id=maintabs></div>
        <div id=logs class=zebra-stripped></div>
      </div>
<%= erb :footer, :locals => locals %>
