<div class="well sidebar-nav">
    <ul class="nav nav-list">
		<% for page in @arr %>
			<li>
			    <a href="#" class="page">
                    <%= page %>
                </a>
            </li>
        <% end %>
    </ul>

	<div class="span9">
	    <div class="row-fluid">
			<pre id="pattern"></pre>
        </div>
    </div>
</div>

<script type="text/javascript">
	$("a.page").click(function () {
		$.get('grocker/patterns/' + $(this).attr("class"), function(data){
		$('#pattern').text(data);
		});
	});
</script>