
      <div ng-controller="AdminCtrl" ng-cloak class="content span10" id=main>
       <h4>Users</h4>
       <table class="table table-striped table-bordered table-condensed table-hover">
       <thead>
        <tr>
         <th width="200px">Username</th>
         <th width="100px">Admin</th>
         <th>Tags</th>
        </tr>
       </thead>
       <tbody ng-repeat='user in adminData.usersList'>
        <tr>
         <td><a href="admin/user/edit/{{user.name}}"><i class="small-icon icon-edit"></i> {{user.name}}</a></td>
         <td><label class="checkbox"><input type="checkbox" disabled></label></td>
         <td>No Tags</td>
        </tr>
       </tbody>
       </table>
       <button id="adduser" class="btn btn-primary btn-small"><i class="icon icon-tag"></i> New User</button>

       <h4 style="margin-top: 40px;">Groups</h4>
       <table class="table table-striped table-bordered table-condensed table-hover">
       <thead>
        <tr>
         <th width="200px">Group</th>
         <th width="100px">Admin</th>
         <th>Tags</th>
        </tr>
       </thead>
       <tbody ng-repeat='group in adminData.groupsList'>
         <tr>
          <td><a href="admin/group/edit/{{group.name}}"><i class="small-icon icon-edit"></i> {{group.name}}</a></td>
          <td><label class="checkbox"><input type="checkbox" disabled></label></td>
          <td>No Tags</td>
         </tr>
        </tbody>
       </table>
      <button id="addgroup" class="btn btn-primary btn-small"><i class="icon icon-tags"></i> New Group</button>
      </div>
      <script>
      $(function() {
        $('#adduser').click(function() {
          window.location = 'admin/user/new/';
        });
        $('#addgroup').click(function() {
          window.location = 'admin/group/new/';
        });
      });

      var currentUser = <%= locals[:currentUserJson] %>;
      </script>
<!--%= erb :footer, :locals => locals %-->
