  <li><a href="/admin"><i class="icon-user"></i>&nbsp;&nbsp; User Administration</a></li>
  <li><a href="/lastevents"><i class="icon-time"></i>&nbsp;&nbsp; Last Events</a></li>
  <li><a href="/indiceslist"><i class="icon-eye-open"></i>&nbsp;&nbsp; Live Indices</a></li>
  <li><a href="/archivedlist"><i class="icon-eye-close"></i>&nbsp;&nbsp; Archived Indices</a></li>