<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Logmind Login</title>

  <script type="text/javascript" src="../../common/lib/jquery-1.8.0.min.js"></script>
  <script type="text/javascript" src="../../common/lib/bootstrap.min.js"></script>


  <link rel="stylesheet" href="../../common/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../common/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="../../common/css/unicorn.main.css">

  <style type="text/css">
    body {
    background-color: #ffffff;
    }

    .slogan {
        font-family: verdana, arial;
        font-size: 16px;
        font-weight: bold;
    }
  </style>
  <link href="../../favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body class="login-page">
  <script>
  $('document').ready(function(){
    $(".alert").alert();
  });
  </script>

    <p></p>
    <div class="login-box well span5" style="">
        <h1><img src='../../common/img/logo.png'></h1>
        <form action="/auth/login" method="POST">
          <div class="pull-right">
            <input type="text" placeholder="Username" id="username" name="username" /><br>
            <input type="password" placeholder="Password" id="password" name="password" /><br>
            <% if locals[:login_message] %>
                <p class="login-msg"><span class="label label-success"><%= locals[:login_message] %></span></p>
            <% else %>
                <p class="login-msg"></p>
            <% end %>
            <button class="btn btn-success pull-right" type=submit>Login</button>
          </div>
        </form>
    </div>

</body>

</html>
