%html
  %script{ :src => '/common/lib/jquery-1.8.0.min.js' }
  %body
    %h1 Please specify type, and field mappings
    %form{ :method => 'post', :id => 'main' }
      %label Type name:
      %input{ :type =>'hidden', :name=>'item_id', :value => locals[:unique_id] }
      %input{ :type =>'hidden', :name=>'field_types', :id => 'field_types', :value => '' }
      %input{ :type =>'text', :name=>'type_name' }
      %br
      - locals[:headers].each do |field_name|
        %div
          %label
            =field_name
          %select{:class => 'mapping', :data => { :fieldname => field_name } }
            %option{ :value => 'string' } String
            %option{ :value => 'long' } Integer
            %option{ :value => 'double' } Float
            %option{ :value => 'boolean' } Boolean
            %option{ :value => 'date' } Date/Time
            %option{ :value => 'ip' } IP
      %input{ :type => 'submit', :value => 'Send' }
      :javascript
        $('#main').submit(function() {
          values = []
          $('.mapping').each(function () {
            values.push($(this).data('fieldname') + ':' + $(this).val());
          });

          $('#field_types').val(values.join(','));

          return true;
        });

