<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="Client.Id" value="FCE5E293-A056-433E-A9D4-F1E73572DE79" />
    <add key="CC.Uri" value="tcp://127.0.0.1:5000/cc" />
  </appSettings>
  
</configuration>
